<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Artindex</title>
<link href="css/public.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
<!--LOGO-->
    	<div class="logo"><%= image_tag "ArtWeb_03.gif"%></div>
<!--LOGO-->

<!--一级导航 -->
        <div class="nav1">
        	<ul>
            	<li><a href="#">首页</a></li>
                <li><a href="#">设备预约</a></li>
                <li><a href="#">场地预约</a></li>
                <li><a href="#">视频共享</a></li>
                <li><%= link_to "规章制度", '/rule'%></li>
                <li><a href="#">通知公告</a></li>
            </ul>
        </div>
<!--一级导航 -->


<!--广告 -->
        <div class="ad">
        	<%= image_tag "ArtWeb_07.gif" %>
            
            <div class="notice">
            <!--通知公告-->
        	<h1>通知公告</h1>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;艺术院最近将举行歌舞大赛，从<span>10月20日到11月30日</span>，所以舞蹈室都不外借。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;艺术院最近将举行<span>歌舞大赛</span>，从10月20日到11月30日，所以舞蹈室都不外借。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;艺术院最近将举行歌舞大赛，从10月20日到11月30日，所以<span>舞蹈室都不外借</span>。</p>
            <h2><a href="#">For more</a></h2>
        </div>
        <!--通知公告-->
        </div>
        
<!--广告 -->
		
        
<!--inform-->
		<div class="infrom">
        	<div class="order">
            	<ul>
                	<li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                </ul>
                <h1><a href="#"></a></h1>
            </div>
            <div class="equipment">
            	<ul>
                	<li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                </ul>
                <h1><a href="#"></a></h1>
            </div>
            <div class="tel"></div>
        </div>
<!--inform-->

<!--copyright-->        
        <div class="copyright">
        	<ul>
   				<span>友情链接：</span>
            	<li><a href="#">西南石油大学</a></li>
                <li><a href="#">艺术院首页</a></li>
                <li class="cop">Copyright 软件外包团队</li>
            </ul>
           
        </div>
        	
<!--copyright-->   
</div>
</body>
</html>