<div class="container-fluid">
  <div class="row-fluid">
    <div class="leftspan">
      <!--Sidebar content-->

    </div>
    <div class="span10">
      <!--Body content-->
      <h3>dinglixiang</h3><h3>dinglixiang</h3>
    </div>
  </div>
</div>