<div class="copyright">
        	<ul>
   				<span>友情链接：</span>
            	<li><a href="#">西南石油大学</a></li>
                <li><a href="#">艺术院首页</a></li>
                <li class="cop">Copyright 软件外包团队</li>
            </ul>
</div>
